<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.WebDoctorMapper">


    <resultMap type="WebDoctor" id="doctorVo">
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="doctorId" column="doctor_id"/>
        <result property="avatar" column="avatar"/>
        <result property="realName" column="realName"/>
        <result property="position" column="position"/>
        <result property="department" column="department"/>
        <result property="specialty" column="specialty"/>
        <result property="status" column="status"/>
    </resultMap>

    <resultMap type="ADoctor" id="ADoctorVo">
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="doctorId" column="doctor_id"/>
        <result property="avatar" column="avatar"/>
        <result property="realName" column="realName"/>
        <result property="position" column="position"/>
        <result property="department" column="department"/>
        <result property="specialty" column="specialty"/>
        <result property="status" column="status"/>
        <result property="seeTime" column="seeTime"/>
        <result property="maxNum" column="maxNum"/>
        <result property="remanNum" column="remanNum"/>
    </resultMap>

    <select id="selectADoctorByQuery" parameterType="QueryVo" resultMap="ADoctorVo">
        select d.*,sm.seeTime,sm.maxNum,sm.remanNum
        from web_doctor d
                 left join sys_message sm on d.doctor_id = sm.doctor_id
        <where>
            <if test="realName != null and realName != ''">
                AND d.realName like concat('%', #{realName}, '%')
            </if>
            <if test="doctorId != null and doctorId != 0 ">
                AND d.doctor_id= #{doctorId}
            </if>
            <if test="position != null and position != 0 ">
                AND d.position like concat('%', #{position}, '%')
            </if>
            <if test="department != null and department != 0 ">
                AND d.department like concat('%', #{department}, '%')
            </if>
            <if test="remanNum != null and remanNum != 0 ">
                AND sm.remanNum  #{remanNum}
            </if>
            <if test="startTime != null and startTime != 0 ">
                AND SUBSTRING_INDEX(sm.seeTime,'-',-1)> #{startTime}
            </if>

        </where>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <insert id="insertADoctor" parameterType="ADoctor">
        insert into sys_message(message_id, seeTime, maxNum, remanNum, doctor_id)
        values (default, #{doctor.seeTime}, #{doctor.maxNum}, #{doctor.maxNum}, #{doctor.doctorId})
    </insert>
    <insert id="insertDoctor" parameterType="ADoctor"  keyProperty="doctor.doctorId" keyColumn="doctor_id">
        insert into web_doctor(doctor_id,avatar, realName, position, department, specialty, status, user_id)
        values (default, #{doctor.avatar}, #{doctor.realName}, #{doctor.position}, #{doctor.department}, #{doctor.specialty}, '0', #{doctor.userId})
    </insert>

    <insert id="insertDAccount" parameterType="ADoctor" keyProperty="doctor.userId" keyColumn="user_id">
        insert into sys_account(user_id, name, password, role_id)
        values (default, #{doctor.name}, #{doctor.password},'2')
    </insert>


    <update id="updateADoctor" parameterType="ADoctor">
        update sys_message
        <set>
            seeTime = #{doctor.seeTime},
            maxNum = #{doctor.maxNum},
        </set>
        where doctor_id = #{doctor.doctorId}
    </update>

<!--    <update id="deleteADoctorById" parameterType="WebDoctor">-->
<!--        update web_doctor-->
<!--        <set>-->
<!--            status = '1',-->
<!--        </set>-->
<!--        where doctor_id = #{doctor.doctorId}-->
<!--    </update>-->
    <delete id="deleteADoctorById" parameterType="Long">
        delete
        from sys_message
        where doctor_id = #{doctorId}
    </delete>
    <delete id="deleteDoctorById" parameterType="Long">
        delete
        from web_doctor
        where user_id = #{userId}
    </delete>
    <delete id="deleteDAccountById" parameterType="Long">
        delete
        from sys_account
        where user_id = #{userId}
    </delete>






    <!--////////////////////////////////////////////////////-->
    <select id="selectDoctorByUserId" parameterType="Long" resultMap="doctorVo">
        select d.*,sa.name,sa.password
        from web_doctor d
        left join sys_account sa on d.user_id = sa.user_id
        where d.user_id = #{userId}
    </select>






    <update id="updateDoctor" parameterType="WebDoctor">
        update web_doctor
        <set>
            position = #{doctor.position},
            department = #{doctor.department},
            specialty = #{doctor.specialty},
        </set>
        where user_id = #{doctor.userId}
    </update>
    <update id="updateDoctorAvatar" >
        update web_doctor
        <set>
            avatar = #{avatar},
        </set>
        where user_id = #{userId}
    </update>

    <update id="updateDAccount" parameterType="WebDoctor">
        update sys_account
        <set>
            name = #{doctor.name},
            password = #{doctor.password}
        </set>

        where user_id = #{doctor.userId}
    </update>


</mapper>